@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Permanent+Marker&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply bg-orange-500 hover:bg-orange-600 text-white duration-300;
}

::-webkit-scrollbar {
  width: 0.3vw;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b91c1c;
}

.slick-arrow {
  @apply bg-red-500 text-black;
}
